body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;

}

.header-logo span {
    color: #4D5AE5;
}

.header-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-nav a {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-nav {
    display: flex;
    gap: 40px;
    margin-left: 76px;

}

.menu-nav a:hover,
.menu-nav a:focus {
    color: #404bbf;
}

.nav-link-current {
    position: relative;

}



.nav-link-current::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
        width: 48px;
        height: 4px;
        background: #404bbf;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.contact-info a {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.contact-info a:hover,
.contact-info a:focus {
    color: #404bbf;
}

address {
    margin-left: auto;
}

.contact-info {
    display: flex;
    gap: 40px;
}



h1 {
    font-size: 56px;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;



}

.hero-section {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7)), 
        url(/go-it-markup-hw-04/images/people-office\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    padding: 188px 0;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.header-btn {
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    padding: 16px 32px;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.header-btn:hover,
.header-btn:focus {
    color: #fff;
    background-color: #404bbf;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.our-title {
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.features-container {
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-list li {
    width: calc((100% - 72px) / 4);
}

.section-features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.title-style {
    margin-bottom: 72px;

}

.section-team-container {
    padding: 120px 0;
    background-color: #f4f4fd;
}

.section-team-card-background {
    width: calc((100% - (3 * 24px)) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    border-radius: 0 0 4px 4px;
}

.section-team-card {
    text-align: center;
    padding: 32px 16px;
}


.section-team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.our-team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.portfolio-container {
    padding: 120px 0;
    
}

.portfolio-card-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

 .portfolio-card:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);;
}

.portfolio-card {
    background-color: #fff;
    width: calc((100% - 48px) / 3);
}

.section-portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.section-portfolio-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    margin-top: 16px;
    
}

.section-footer-subtitle {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-left: 120px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.style-logo {}

.footer-color-logo {
    color: #4d5ae5;
}

.footer-info {
    display: flex;
    justify-content: start;
    align-items: baseline;
}

footer {
    background-color: #2e2f42;
    padding: 100px 0;
}